*{
    margin: 0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

main {
    padding: 50px 100px;
}

.navbar-top a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-top {
    font-weight: 900;
    padding: 0 16px 0 16px;
    background-color: rgb(34, 34, 34);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.navtop-left {
    display: flex;
    justify-content: space-between;
    width: 425px;
}

.navtop-right {
    justify-content: space-between;
    justify-self: right;
    display: flex;
    align-items: center;
    width: 270px;
}

#login-button {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 32px;
    height: 50px;
    width: 130px;
    font-weight: 900;
    color: white;
    font-size: 16px;
    border-style: none;
}

#login-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.index-navbar {
    display: flex;
    padding: 20px 30px 35px 30px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    /* white-space: pre-wrap; */
}

.dish-card {
    height: 180px;
    width: 155px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    word-wrap: break-word;
    background-color: #ffd64f;
    border-radius: 25px;
    border: 1px solid black;
}

.menu-card {
    height: 180px;
    width: 155px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    word-wrap: break-word;
    background-color: #ffd64f;
    border-radius: 25px;
    border: 1px solid black;
}

.menu-card ul {
    padding: 0;
}

.submit-button {
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #9d9cff;
}

.submit-button:hover {
    background-color: #bfbef6;
}
    
.ingradient-container {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-bottom: 20px;
}
    
.edit-dish-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-object {
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding: 7px;
}

.left-cart-object {
    width: 150px;
}

.right-cart-object {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.check {
    padding: 10px;
    border-radius: 10px;
    border: black solid 1px;
    display: inline-block;
    margin-bottom: 30px;
}

/* .form {
    display: flex;
    justify-content: space-between;
} */