@model Order
@await Html.PartialAsync("_CheckPartial", Model)

<form method="post" action="/pay-the-order" class="form">
    <input type="type" name="name" value="" placeholder="Enter the card number" />
    <input type="type" name="name" value="" placeholder="Enter the CVV" />
    <button type="submit">Pay</button>
</form>