@model Dictionary<string, string>

@foreach (KeyValuePair<string, string> keyValue in Model)
{
    <div style="display: flex; width: 200px; justify-content: space-between">
        <p>@keyValue.Key: @keyValue.Value</p>
    </div>
}

