@model List<DishResponce>
@{
    ViewBag.Title = "Dishes";
}
<div class="index-navbar">
    <a href="/menus">Готові Меню</a>
</div>
    
<div class="card-container">
    @foreach (DishResponce dish in Model)
    {
        @await Html.PartialAsync("_DishCardPartial", dish)
    }
</div>
