@model List<MenuResponce>
@{
    ViewBag.Title = "Menus";
}
<div class="index-navbar">
    <a href="/dishes">Страви</a>
</div>

<div class="card-container">
    @foreach (MenuResponce menu in Model)
    {
        @await Html.PartialAsync("_MenuCardPartial", menu)
    }
</div>
