@model List<CartResponce>

<div class="cart-container">
    @foreach(CartResponce obj in Model) {
        @await Html.PartialAsync("_CartObjectDisplayerPartial", obj)
    }
    <a asp-controller="Dishes" asp-action="PlacingTheOrder">Buy</a>
</div>